 
 // Color
 $White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue-Gardian: #212832;
$Dark-Blue: #262E38;
$Very-Dark-Blue: hsl(216, 12%, 8%);
$Orange: #FC7614;

//Value

$font-size: 62.5%;