@import "button";
@import "config";

* {
margin: 0;
box-sizing: border-box;
}

html {
    font-size: var($font-size);
}

img {
    display: block;
    max-width: 100%;
}

a {
text-decoration: none;
}

button {
    border: none;
    outline: none;
}

body {
background-color:$Very-Dark-Blue;
font-family: 'Overpass', sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.container {
    width: 25rem;
   padding: 4rem 1.5rem;
    border-radius: 1rem;
    background-color: $Dark-Blue-Gardian;
}

.container__title {
    color: $White;
    margin-bottom: 1rem;
}

.container__text {
    color: $Light-Grey;
    text-align: left;
    margin-bottom: 1rem;
}

.img__star {
    background-color: $Dark-Blue;
    border-radius: 50%;
    padding: .8rem;
    margin-bottom: 2rem;
}
.btn__container {
    border-radius: 50%;
    padding: 1rem;
    background-color: $Dark-Blue;
    color: $Light-Grey;
}



.wrapper__btn {
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    margin-bottom: 2rem;
}

.btn__container--orange {
    display: block;
    background-color: $Orange;

}